{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card ">
    <div class="card-header">
    <br>
    <h3 class="title">&nbsp &nbsp &nbsp SUITS RELATING TO TRUSTS AND TRUST PROPERTY </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">
                S.No.
            </th>
            <th class="text-center">
                Description of suits
            </th>
            <th class="text-center">
                Period of limitation
            </th>
            <th class="text-center">
                Time from which period begins to run
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    1.
                </td>
                <td class="text-center">
                    To recover possession of im­movable property conveyed or bequeathed in trust and after­wards transferred by the trus­tee for a valuable consideration.
                </td>
                <td class="text-center">
                    Three years                   </td>
                <td class="text-center">
                    When the transfer be­comes known to the plaintiff.
                </td>
              </tr>
          <tr>
            <td class="text-center">
                2. 
            </td>
            <td class="text-center">
                To recover possession of mov­able property conveyed or bequeathed in trust and after­wards transferred by the trustee for a valuable consideration.
            </td>
            <td class="text-center">
                Three years               </td>
            <td class="text-center">
                When the transfer be­comes known to the plaintiff.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                3.
            </td>
            <td class="text-center">
                To set aside a transfer of immov­able property comprised in a Hindu, Muslim or Buddhist reli­gious or charitable endowment, made by a manager thereof for a valuable consideration.
            </td>
            <td class="text-center">
                Twelve years
            </td>
            <td class="text-center">
                When the transfer be­comes known to the plaintiff.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                4.
            </td>
            <td class="text-center">
                To set aside a transfer of mov­able property comprised in a Hindu, Muslim or Buddhist reli­gious or charitable endowment, made by a manager thereof for a valuable consideration.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the transfer be­comes known to the plaintiff.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                5.
            </td>
            <td class="text-center">
                By the manager of a Hindu, Muslim or Buddhist religious or charitable endowment to re­cover possession of movable or immovable property comprised in the endowment which has been transferred by a previous manager for a valuable consid­eration.
            </td>
            <td class="text-center">
                Twelve years
            </td>
            <td class="text-center">
                The date of death, resig­nation or removal of the transferor or the date of appointment of the plaintiff as manager of the endowment, which­ever is later.
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}

