{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card ">
    <div class="card-header">
    <br>
    <h3 class="title">&nbsp &nbsp &nbsp SUITS RELATING TO TORT </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">
                S.No.
            </th>
            <th class="text-center">
                Description of suits
            </th>
            <th class="text-center">
                Period of limitation
            </th>
            <th class="text-center">
                Time from which period begins to run
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    1.
                </td>
                <td class="text-center">
                    For compensation for doing or for omitting to do an act alleged to be in pursuance of any enact­ment in force for the time being in the territories to which this Act extends.
                </td>
                <td class="text-center">
                    One years                   </td>
                <td class="text-center">
                    When the act or omis­sion takes place.
                </td>
              </tr>
          <tr>
            <td class="text-center">
                2. 
            </td>
            <td class="text-center">
                For compensation for false imprisonment.
            </td>
            <td class="text-center">
                One years                </td>
            <td class="text-center">
                When the imprison­ment ends.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                3.
            </td>
            <td class="text-center">
                For compensation for a malicious prosecution
            </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                When the plaintiff is acquitted or the prose­cution is otherwise ter­minated.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                4.
            </td>
            <td class="text-center">
                For compensation for libel
           </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                When the libel is pub­lished.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                5.
            </td>
            <td class="text-center">
                For compensation for slander
            </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                When the words are spoken or, if the words are not actionable in themselves, when the special damage com­plained of results.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                6.
            </td>
            <td class="text-center">
                For compensation for loss of service occasioned by the seduction of the plaintiff’s servant or daughter.
           </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                When the loss occurs.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                7.
            </td>
            <td class="text-center">
                For compensation for inducing a person to break a contract with the plaintiff.
           </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                The date of the breach.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                8.
            </td>
            <td class="text-center">
                For compensation for wrongful seizure of movable property under legal process.
           </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                The date of the seizure
            </td>
          </tr>
          <tr>
            <td class="text-center">
                9.
            </td>
            <td class="text-center">
                By executors, administrators or representatives under the Legal Representatives’ Suits Act, 1855 (12 of 1855).
           </td>
            <td class="text-center">
                One years 
            </td>
            <td class="text-center">
                The date of the death of the person wronged.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                10.
            </td>
            <td class="text-center">
                By executors, administrators or representatives under the Indian Fatal Accidents Act, 1855 (13 of 1855).
           </td>
            <td class="text-center">
                Two years
            </td>
            <td class="text-center">
                The date of the death of the person killed.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                11.
            </td>
            <td class="text-center">
                Under the Legal Representatives’ Suits Act, 1855 (12 of 1855) against an executor, an administrator or any other representative.
           </td>
            <td class="text-center">
                Two years
            </td>
            <td class="text-center">
                When the wrong com­plained of is done
            </td>
          </tr>
          <tr>
            <td class="text-center">
                12.
            </td>
            <td class="text-center">
                Against one who, having a right to use property for specific pur­poses, perverts it to other pur­poses.
           </td>
            <td class="text-center">
                Two years
            </td>
            <td class="text-center">
                When the perversion first becomes known to the person injured thereby.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                13.
            </td>
            <td class="text-center">
                For compensation for obstructing a way or a water course.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the obstruc­tion.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                14.
            </td>
            <td class="text-center">
                For compensation for diverting a water course.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the diversion.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                15.
            </td>
            <td class="text-center">
                By executors, administrators or representatives under the Indian Fatal Accidents Act, 1855 (13 of 1855).
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the trespass
            </td>
          </tr>
          <tr>
            <td class="text-center">
                16.
            </td>
            <td class="text-center">
                By executors, administrators or representatives under the Indian Fatal Accidents Act, 1855 (13 of 1855).
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the infringement.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                17.
            </td>
            <td class="text-center">
                Against one who, having a right to use property for specific pur­poses, perverts it to other pur­poses.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the waste begins.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                18.
            </td>
            <td class="text-center">
                For compensation for injury caused by an injunction wrong­fully obtained.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the injunction ceases.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                19.
            </td>
            <td class="text-center">
                For compensation, for wrongfully taking or detaining any specific movable property lost, or acquired by theft, or dis­honest mis-appropriation or conversion
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the person hav­ing the right to the possession of the pro­perty first learns in whose possession it is.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                20.
            </td>
            <td class="text-center">
                For compensation, for wrongfully taking or inj uring or wrongfully detain­ing any other specific mov­able property.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the property is wrongfully taken or injured, or when the detainer’s possession becomes unlawful
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}

