{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card ">
    <div class="card-header">
    <br>
    <h3 class="title">&nbsp &nbsp &nbsp APPEALS </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">
                S.No.
            </th>
            <th class="text-center">
                Description of appeal
            </th>
            <th class="text-center">
                Period of limitation
            </th>
            <th class="text-center">
                Time from which period begins to run
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    1.
                </td>
                <td class="text-center">
                    Appeal from an order of acquit­tal, under sub-section (1) or sub-section (2) of section 417 of the Code of Criminal Procedure, 1898(5 of 1898)
                </td>
                <td class="text-center">
                    Ninety days                   </td>
                <td class="text-center">
                    The date of the order appealed from.
                </td>
              </tr>
          <tr>
            <td class="text-center">
                2. 
            </td>
            <td class="text-center">
                Appeal from an order of acquit­tal, under sub-section (3) of section 417 of that Code.
            </td>
            <td class="text-center">
                Ninety days               </td>
            <td class="text-center">
                The date of the grant of special leave.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                3.
            </td>
            <td class="text-center">
                Under the Code of Criminal Pro­cedure, 1898 (5 of 1898) from a sentence of death passed by a court of session or by a High Court in the exercise of its original crimi­nal jurisdiction
            </td>
            <td class="text-center">
                Thirty days
            </td>
            <td class="text-center">
                The date of the sen­tence.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                4.
            </td>
            <td class="text-center">
                Under the Code of Criminal Pro­cedure, 1898 (5 of 1898) from any other sentence or any order not being an order of acquittal to the High Court
           </td>
            <td class="text-center">
                Sixty days
            </td>
            <td class="text-center">
                The date of the sentence or order.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                5.
            </td>
            <td class="text-center">
                Under the Code of Civil Proce­dure, 1908 (5 of 1908) to a High Court from any decree or order
            </td>
            <td class="text-center">
                Ninety days
            </td>
            <td class="text-center">
                The date of the decree or order
            </td>
          </tr>
          <tr>
            <td class="text-center">
                6.
            </td>
            <td class="text-center">
                Under the Code of Civil Proce­dure, 1908 (5 of 1908) to any other court from any decree or order.
            </td>
            <td class="text-center">
                Thirty days
            </td>
            <td class="text-center">
                The date of the decree or order.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                7.
            </td>
            <td class="text-center">
                From a decree or order of any High Court to the same Court.
            </td>
            <td class="text-center">
                Thirty days
            </td>
            <td class="text-center">
                The date of the decree or order.
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}

