{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card ">
    <div class="card-header">
    <br>
    <h3 class="title">&nbsp &nbsp &nbsp SUITS RELATING TO ACCOUNTS </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">
                S.No.
            </th>
            <th class="text-center">
                Description of suits
            </th>
            <th class="text-center">
                Period of limitation
            </th>
            <th class="text-center">
                Time from which period begins to run
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    1.
                </td>
                <td class="text-center">
                    For the balance due on a mutual, open and current account, where there have been recipro­cal demands between the par­ties.
                </td>
                <td class="text-center">
                    Three years                   </td>
                <td class="text-center">
                    The close of the year in which the last item admitted or proved is entered in the account; such year to be computed as in the account.
                </td>
              </tr>
          <tr>
            <td class="text-center">
                2. 
            </td>
            <td class="text-center">
                Against a factor for an account
            </td>
            <td class="text-center">
                Three years               </td>
            <td class="text-center">
                When the account is, during the continuance of the agency, demand­ed and refused or, where no such demand is made, when the agency terminates.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                3.
            </td>
            <td class="text-center">
                By a principal against his agent for movable property received by the latter and not accounted for.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the account is, during the continuance of the agency, demand­ed and refused or, where no such de­mand is made, when the agency terminates.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                4.
            </td>
            <td class="text-center">
                Other suits by principals against agents for neglect or misconduct.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the neglect or misconduct becomes known to the plaintiff.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                5.
            </td>
            <td class="text-center">
                For an account and a share of the profits of a dissolved partnership.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the dissolution.
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}

