{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card ">
    <div class="card-header">
    <br>
    <h3 class="title">&nbsp &nbsp &nbsp SUITS RELATING TO CONTRACTS </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">
                S.No.
            </th>
            <th class="text-center">
                Description of suits
            </th>
            <th class="text-center">
                Period of limitation
            </th>
            <th class="text-center">
                Time from which period begins to run
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    1.
                </td>
                <td class="text-center">
                    For a seaman’s wages.
                </td>
                <td class="text-center">
                    Three years                   </td>
                <td class="text-center">
                    The end of the voyage during which the wages are earned.
                </td>
              </tr>
          <tr>
            <td class="text-center">
                2. 
            </td>
            <td class="text-center">
                For wages in the case of any other person
            </td>
            <td class="text-center">
                Three years               </td>
            <td class="text-center">
                When the wages accrue due.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                3.
            </td>
            <td class="text-center">
                For the price of food or drink sold by the keeper of a hotel, tavern or lodging house.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the food or drink is delivered.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                4.
            </td>
            <td class="text-center">
                For the price of lodging.
           </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the price be­comes payable.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                5.
            </td>
            <td class="text-center">
                Against a carrier for compensa­tion for losing or injuring goods
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the loss or in­jury occurs. 
            </td>
          </tr>
          <tr>
            <td class="text-center">
                6.
            </td>
            <td class="text-center">
                Against a carrier for compensa­tion for non-delivery of, or delay in delivering, goods.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the goods ought to be delivered. 
            </td>
          </tr>
          <tr>
            <td class="text-center">
                7.
            </td>
            <td class="text-center">
                For the hire of animals, vehi­cles, boats or household furni­ture.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the hire be­comes payable. 
            </td>
          </tr>
          <tr>
            <td class="text-center">
                8.
            </td>
            <td class="text-center">
                For the balance of money ad­vanced in payment of goods to be delivered.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the goods ought to be delivered.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                9.
            </td>
            <td class="text-center">
                For the price of goods sold and delivered where no fixed period of credit is agreed upon.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the deliv­ery of the goods.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                10.
            </td>
            <td class="text-center">
                For the price of goods sold and delivered to be paid for after the expiry of a fixed period of credit.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the period of credit expires.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                11.
            </td>
            <td class="text-center">
                For the price of goods sold and delivered to be paid for by a bill of exchange, no such bill being given.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the period of the proposed bill elapses. 
            </td>
          </tr>
          <tr>
            <td class="text-center">
                12.
            </td>
            <td class="text-center">
                For the price of trees or grow­ing crops sold by the plaintiff to the defendant where no fixed period of credit is agreed upon.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                The date of the sale.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                13.
            </td>
            <td class="text-center">
                For the price of work done by the plaintiff for the defendant at his request, where no time has been fixed for payment.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the work is done.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                14.
            </td>
            <td class="text-center">
                For money payable for money lent.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the loan is made
            </td>
          </tr>
          <tr>
            <td class="text-center">
                15.
            </td>
            <td class="text-center">
                For money lent under an agree­ment that it shall be payable on demand.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the loan is made.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                16.
            </td>
            <td class="text-center">
                Like suit when the lender has given a cheque for the money.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the cheque is paid.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                17.
            </td>
            <td class="text-center">
                For money deposited under an agreement that it shall be payable on demand, including money of a   customer in the hands of his banker so payable.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the demand is made.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                18.
            </td>
            <td class="text-center">
                For money payable to the plain­tiff for money paid for the defendant.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the money is paid
            </td>
          </tr>
          <tr>
            <td class="text-center">
                19.
            </td>
            <td class="text-center">
                For money payable by the de­fendant to the plaintiff for money received by the defen­dant, for the plaintiff’s use.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the money is re­ceived.
            </td>
          </tr>
          <tr>
            <td class="text-center">
                20.
            </td>
            <td class="text-center">
                For money payable for interest upon money due from the defendant to the plaintiff.
            </td>
            <td class="text-center">
                Three years
            </td>
            <td class="text-center">
                When the interest be­comes due.
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  </script>

{% endblock javascripts %}
